@inject IViewLocalizer localizar

@{
    ViewData["Title"] = "Home";
}

<div class="container content-area">
    <main role="main" class="pb-3 flex-shrink-0">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col col-lg-8">
                <span style="color:red">
                    CODE

                </span>
                <pre class="line-numbers"><code class="language-cs">for(int i = 0; i < 0; i++) CallMethod(i);</code></pre>

            </div>
            <div class="col col-lg-4 order-first order-lg-last">
                <span style="color:red">

                    EXPLAINATION
                </span>
            </div>
        </div>

    </main>
</div>
