@inject IViewLocalizer localizar

@{
    ViewData["Title"] = "Home Page";
}

<div class="container content-area">
    <main role="main" class="pb-3 flex-shrink-0">
        <div class="text-center">
            <h1 class="display-4">@localizar["Welcome"]</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </main>
</div>