<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodingChallengeTemplate</title>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/f01a075031.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <!--This will be my wljm logo that links to my portfolio.-->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CodingChallengeTemplate</a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--This will have all the links to all the pages.-->
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">App in JS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Code in JS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">App in C#</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Code in C#</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Git Repo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">About Me</a>
                        </li>

                    </ul>
                </div>

                <!--Here will come the two buttons for language support.-->

            </div>
        </nav>
    </header>
 
            @RenderBody()
      
    <!--Will put a copyright and a email. Then my logo then logos of links like twitter, linked in and github.-->
    <!--FOOTER-->
    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-md-3">
                <!--Copyright and email-->
                <div class="col">
                    <div>
                        &copy; 2021 - Wesley L J Manie - <b style="color:darkred">MY EMAIL ADRESS</b>
                    </div>
                </div>
                <!--My Personal Brand-->
                <div class="col">
                    <div>

                    </div>
                </div>
                <!--Social Media Icons-->
                <div class="col">
                        Still need to link em up and give them some neat little css love.
                    <div class="row">
                        <div class="col">
                            <a href="//twitter.com/WesleyLJManie" target="_blank"><i class="fab fa-3x fa-twitter-square"></i></a>
                        </div>
                        <div class="col">
                            <a href="//www.linkedin.com/in/WesleyManie/" target="_blank"><i class="fab fa-3x fa-linkedin"></i></a>
                        </div>
                        <div class="col">
                            <a href="//github.com/Wljmanie" target="_blank"><i class="fab fa-3x fa-github-square"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </footer>
    

    <!--JQuery for development-->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!--JQuary Compressed for deployment-->
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>*@
    
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
