/*--- Setting the Colors of the template. ---*/
:root {
    --primary-bg-color: #3C424D;
    --secondary-bg-color: #1B1D22;
    --third-bg-color: #2D3139; /*Not used at the moment, but I like to save the color.*/
    --a-light-color: #FFF8EB;
    --secondary-light-color: #046985;
    --primary-light-color: #4BBDCC;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/*--- Sticky Header styles ---*/
.navbar {
    background-color: var(--primary-bg-color);
}

.nav-link {
    color: var(--secondary-light-color);
    font-weight: bold;
}

    .nav-link:hover {
        color: var(--primary-light-color);
    }

.active{
    color: var(--primary-light-color);  
}

.border-bottom{
  color:var(--a-light-color) !important; 
}

/*--- Body styles. ---*/

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*--- Footer styles ---*/
.footer{
    background-color: var(--primary-bg-color);
}

.border-top{
  color: var(--a-light-color) !important; 
}

.footer-icons{
  color: var(--secondary-light-color);
  
}
.footer-icons:hover{
  color: var(--primary-light-color);
}

.footer-personal-logo{
  width: 100%;
  height: auto;
  max-height: 25px;
}